/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    cursor: url("starter-northern-lights-cursor.png"), auto;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Video Background */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Content and Timeline */
.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.name {
    position: absolute;
    color: #ffffff;
    top: 6vh;
    left: 8vw;
    font-size: calc(2vh + 1.5vw);
    font-family: myfont;
}

.navbar {
    display: flex;
    position: fixed;
    top: 2vh;
    left: 45vw;
    width: 50vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.navbar a {
    position: relative;
    text-decoration: none;
    padding: 1.5vw;
    font-size: calc(.8vh + .6vw);
    color: #ffffff;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 8px;
    right: 0;
    background: linear-gradient(to right, #00b3ff, #00b3ff);
    transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

.navbar a:hover {
    color: #00b3ff;
}

/* Timeline */
.timeline {
    width: 50vw;
    position: absolute;
    padding: 2vh;
    left: 7vw;
    top: 25vh;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.timeline-item {
    display: flex;
    margin-bottom: 5vh;
    align-items: flex-start;
}

.timeline-year {
    width: 12vw;
    font-size: calc(1vh + 1vw);
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(#00b3ff, #00fff7);
    padding: 1vh;
    border-radius: 5px;
    margin-right: 2vw;
}

.timeline-content {
    flex-grow: 1;
    margin-left: 2vw;
    padding-left: 2vw;
    border-left: 2px solid #9a9a9a;
    position: relative;
    color: #f0f0f0;
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: -.5vh;
    left: -1vw;
    width: 2.2vw;
    height: 2.7vh;
    background-color: #00b3ff;
    border-radius: 50%;
    box-shadow: 0 0 3px #00b3ff, 0 0 20px #00b3ff, 0 0 30px #00fff7, 0 0 40px #00fff7;
}

.institution-name {
    font-size: calc(1vh + 1vw);
    font-weight: bold;
    color: #ffffff;
}

.location {
    font-size: calc(.8vh + .6vw);
    color: #d0d0d0;
    margin: 5px 0;
}

.description {
    font-size: calc(.8vh + .6vw);
    color: #b0b0b0;
    line-height: 1.6;
    margin: 10px 0 0;
}

/* 3D Viewer */
#model {
    position: absolute;
    top: 0;
    right: -20vw;
    z-index: 0;
    width: 50vw;
    height: 50vh;
}
