* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('standard\ \(2\).gif')  center center fixed; 
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    z-index: 1; 
}

.link {
    background: linear-gradient(135deg, #7a5c9e, #4a3b6e);
    color: white;
    padding: 15px 30px; 
    border-radius: 50px; 
    text-align: center;
    font-size: 22px; 
    font-weight: bold; 
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    border: none; 
    cursor: pointer; 
}

.link:hover {
    background: linear-gradient(135deg, #6c4e80, #3e2c4e); 
    transform: translateY(-3px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5); 
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('standard (2).gif') no-repeat center center; 
    background-size: cover;
    opacity: 0; 
    transition: opacity 1s ease-in;
    z-index: 0; 
}
