* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    cursor: url("starter-northern-lights-cursor.png"), auto;
}

* a {
    cursor: url("starter-northern-lights-pointer.png"), pointer;
}

.video-background {
    position: fixed;
    top: -10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

video {
    top: -5vh;
    position: absolute;
    width: 100vw;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
}

.content {
    height: 100%;
    width: 100%;
    animation: blurEffect 2s linear;
}

.navbar {
    display: flex;
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.navbar a {
    position: relative;
    text-decoration: none;
    padding: 1.5vw;
    font-size: calc(1vh + 1vw);
    color: #ffffff;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 8px;
    right: 0;
    background: linear-gradient(to right, #e81c1c, #e81c1c);
    transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

.navbar a:hover {
    color: #e81c1c;
}

.name {
    position: absolute;
    color: #ffffff;
    top: 6vh;
    left: 8vw;
    font-size: calc(2vh + 1.5vw);
    text-shadow: 2px 2px 5px #000;
}

/* Body Styling */
body {
    height: 100vh;
    display: flex;
    perspective: 900px;
    background-color: black;
    overflow: hidden;
}

@keyframes blurEffect {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
        color: white;
    }
    66% {
        opacity: 1;
        color: #ffffff;
    }
    100% {
        opacity: 0;
    }
}

@keyframes wait_for {
    0% {
        opacity: 0;
    }
