*{
    padding:0%;
    margin: 0%;
    font-family: myfont;
    cursor: url("Green Electric Animated--cursor--SweezyCursors.png"),auto;
    font-family: "Bebas Neue", sans-serif;
}


a{
    cursor: url("Green Electric Animated--pointer--SweezyCursors.png"),auto; 
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    opacity: 1;
    display: flex;
}

.video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.content{
    height: 100%;
    width: 100%;
    animation: blurEffect 2s linear;
}



.name{
    position: absolute;
    color: #ffffff;
    top: 6vh;
    left: 8vw;
    font-size: calc(2vh + 1.5vw);
    
}

.navbar{
    display: flex;
    position: fixed;
    top: 1vh;
    left: 46vw;
    width: 49vw;
    height: 10vh;
    align-items: center;
    justify-content: center;

}

.navbar a {
    position: relative; 
    text-decoration: none;
    padding: 1.5vw;
    font-size: calc(1vh + 1vw);
    color: #ffffff;
    animation: blureffect2 2s linear;
}

.photo {
    position: absolute; 
    top: 17vh; 
    left: 53vw; 
    height: 70vh;
    width: 35vw;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 1s ease;}

.photo video{
    height: 100%;
    width: 100%;
}

.photo:hover{
    transform: scale(1.2);
}

.text{
    position: absolute;
    color: #ffffff;
    top: 30vh;
    left: 10vw;
}

.text p {
    font-size: calc(1vh + 1vw);
}

.text h1{
    padding: .5vh;
    color:#08d676;
}

.social-media{
    position: absolute;
    left: 10vw;
    top: 60vh;
    height: 10vh;
    cursor: url("starter-northern-lights-pointer.png"), auto;
}

.social-media a {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    padding: .5vw; 
    margin: .5vh;
    text-decoration: none;
    border: .3vh solid #08d676;
    border-radius: 50%;
    font-size: calc(2.3vh + 2.2vw);
    color: #08d676;
    transition: transform 0.7s ease;
    cursor: url("starter-northern-lights-pointer.png"), auto;
    
}

.social-media i{
    cursor: url("starter-northern-lights-pointer.png"), auto;
}

.social-media a:hover {
    transform: scale(1.2);
    cursor: url("starter-northern-lights-pointer.png"), auto; 
}



.mail{
    position: absolute;
    left: 11vw;
    top:73vh; 
    border: solid;
    border-color: #08d676;
    border-radius: 100px;
    background-color: #08d676;
    box-shadow:  0 0 20px #08d676;
    transition: transform 0.7s ease;
    z-index: 99;

}

.mail a{
    padding: .6vh;
    font-size: calc(2.5vh + 2.5vw);
    text-decoration: none;
    color: black;
}

.mail:hover{
    transform: scale(1.2);
}



@keyframes blurEffect {
    
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes blurEffect2 {
    
    0%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: .5vh;
    display: block;
    margin-top: .8vh;
    right: 0;
    background: linear-gradient(to right, #08d676, #08d676);
    transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

.navbar a:hover {
    color: #08d676;
}
